[submodule "libptytty"]
	path = libptytty
	url = git@github.com:yusiwen/libptytty.git
[submodule "libev"]
	path = libev
	url = git@github.com:enki/libev.git
[submodule "tinytoml"]
	path = tinytoml
	url = git@github.com:mayah/tinytoml.git
